[user]
	name = CrimsonTome
	email = crimsontome427@gmail.com
[author]
	name = Matt Clark
	email = 4matt2clark7@gmail.com
[url "git@github.com:"]
        insteadOf = https://github.com/
[url "git@github.com:"]
        insteadOf = https://github.com/
[url "ssh://git@github.com:"]
        insteadOf = https://github.com/

[pull]
	rebase = true
