[user]
	name = Rowan Clark
	email = crimsontome427@protonmail.com
	signingkey = F620D51904044094
[author]
	name = CrimsonTome
	email = crimsontome427@protonmail.com
[url "git@github.com:"]
        insteadOf = https://github.com/
[url "ssh://git@github.com:"]
	insteadOf = https://github.com/
[url "https://github.com/rust-lang/crates.io-index"]
  insteadOf = https://github.com/rust-lang/crates.io-index

[url "git@git.crimsontome.com:"]
        insteadOf = https://git.crimsontome.com/
[url "ssh://git@git.crimsontome.com:"]
        insteadOf = https://git.crimsontome.com/
[init]
	defaultBranch = main
	# includes talisman
	templatedir = /home/ctome/.git-template
[pull]
	rebase = true
[commit]
	gpgsign = true

[push]
	autoSetupRemote = true
